@import '../common/color.scss';

.borderblack {
    border: 1px solid $primary;
}

.my-alert {
    background: #eeeeee;
    padding: 15px;

    &.danger {
        background: tomato;
    }

    &.warning {
        background: orange;
    }
}
